//기본폰트
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
//블루폰트
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
//빨간폰트
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

//mixin
@mixin flex($justify:center,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin textShadow($first:0px, $second:0px, $third:10px, $last:0.5){
    text-shadow: $first $second $third rgba(0,0,0,$last);
}
@mixin button{
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px;
    color: #333;
    font-family: "Gowun Batang", serif;
}
@mixin input{
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    font-family: "Gowun Batang", serif;
    background-color: rgba(255,255,255,0.8);
    outline: none;
}

//전체영역
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
body{
    font-size: 62.5%; //10px
    font-family: "Gowun Batang", serif;
    font-weight: 200;
    color: #FFF;
    z-index: -1;
}
#root{
    background-color: rgba(0,0,0,0.2);
}
h2{
    font-weight: normal;
    font-size: 2.2rem;
}

//App영역
.app,.blue-bg,.red-bg{
    width: 100%;
    height: 100vh;
    @include flex();
    flex-direction: column;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .page{
        width: 100%;
    }
}

//Theme 영역
.theme{
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    @include flex();
    flex-direction: column;
    gap: 2rem;
    div{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        background-size: cover;
        @include flex();
        span{
            font-size: 1rem;
            display: none;
        }
        &.blue{
            background-image: url(./img/blue-bg.jpg);
            &:hover{
                scale: 1.1;
                background-color: rgba(161, 220, 255,0.8);
                background-image: none;
                transition: 0.3s;
                span{
                    display: block;
                }
            }
        }
        &.pink{
            background-image: url(./img/app.jpg);
            &:hover{
                scale: 1.1;
                background-color: rgba(255, 208, 216,0.8);
                background-image: none;
                transition: 0.3s;
                span{
                    display: block;
                }
            }
        }
        &.red{
            background-image: url(./img/red-bg.jpg);
            &:hover{
                scale: 1.1;
                background-color: rgba(153, 0, 0,0.8);
                background-image: none;
                transition: 0.3s;
                span{
                    display: block;
                }
            }
        }
    }
}

//Weather 영역
.whole-weather{
    @include flex();
    .weather{
        text-align: center;
        font-size: 1.5rem;
        @include textShadow();
        padding-right: 3rem;
        .name{
            font-size: 1rem;
        }
    }
    p{
        font-size: 1.5rem;
    }
    img{
        position: relative;
        width: 50px;
        height: 50px;
    }
}

//Time영역
.time{
    font-weight: 700;
    font-size: clamp(5rem,10vw,6rem);
    @include textShadow();
}

//LoginForm영역
.loginForm{
    @include flex();
    flex-direction: column;
    width: 100%;
    h2{
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
        @include textShadow();
    }
    .input-button{
        padding: 1rem 0;
        @include flex();
        gap: 1rem;
        input{
            @include input();
        }
        button{
            @include button();
        }
    }
}

//MainPage영역
.main-page{
    width: 100%;
    @include flex();
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    padding-top: 0;
    .id-button{
        @include flex();
        gap: 1.5rem;
        h2{
            @include textShadow();
            font-size: clamp(2rem,5vw,3rem);
        }
        button{
            @include button();
        }
    }
}

//Quote 영역
.quote{
    font-size: 1.5rem;
    word-break: keep-all;
    @include textShadow();
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 0.5rem;
}

//TodoForm
.todo{
    form{
        @include flex();
        gap: 1rem;
        padding: 1rem 0;
        input{
            @include input();
        }
        button{
            @include button();
        }
    }
}

//Select 영역
.select{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include flex();
    .whole-wrap{
        box-sizing: border-box;
        z-index: 3;
        width: 25%;
        height: 30%;
        background-color: #333;
        @include flex();
        flex-direction: column;
        border-radius: 20px;
        gap: 1.5rem;
        h2{
            box-sizing: border-box;
            word-break: keep-all;
            text-align: center;
            padding: 1rem;
            padding-bottom: 0;
            width: 100%;
            font-size: clamp(1rem,2vw,2rem);
        }
        .btn-wrap{
            position: relative;
            width: 100%;
            box-sizing: border-box;
            @include flex();
            gap: 1rem;
            button{
                @include button();
                font-size: clamp(0.3rem,1vw,1.2rem);
                &:hover{
                    background-color: #666;
                    color: #eee;
                }
            }
        }
    }
}

//TodoList 영역
.todo-list{
    width: 100%;
    height: 400px;
    @include flex();
    gap: 3rem;
    ul{
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.2);
        width: 30%;
        height: 100%;
        @include flex(flex-start,flex-start);
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 20px;
        h2{
            width: 100%;
            text-align: center;
        }
        p{
            font-size: 2rem;
            text-align: center;
            width: 100%;
            padding-top: 3rem;
        }
        li{
            width: 100%;
            font-weight: normal;
            font-size: 1.5rem;
            @include flex(space-between,center);
            gap: 1rem;
            .check{
                @include flex();
                gap: 1rem;
                input{
                    width: 20px;
                    height: 20px;
                }
            }
            button{
                @include button();
                font-size: 1rem;
                padding: 0.2rem;
            }
        }
    }
}

//blue-theme 영역
.blue-bg{
    font-family: "Jua", sans-serif;
    .page{
        .loginForm{
            @include flex();
            flex-direction: column;
            width: 100%;
            h2{
                font-size: 2rem;
                font-weight: normal;
                text-align: center;
                @include textShadow();
            }
            .input-button{
                padding: 1rem 0;
                @include flex();
                gap: 1rem;
                input{
                    @include input();
                    font-family: "Jua", sans-serif;
                }
                button{
                    @include button();
                    font-family: "Jua", sans-serif;
                }
            }
        }
    }
    div{
        .main-page{
            width: 100%;
            @include flex();
            flex-direction: column;
            gap: 1rem;
            padding: 2rem 0;
            padding-top: 0;
            .id-button{
                @include flex();
                gap: 1.5rem;
                h2{
                    @include textShadow();
                    font-size: clamp(2rem,5vw,3rem);
                }
                button{
                    @include button();
                    font-family: "Jua", sans-serif;
                }
            }
            .todo{
                form{
                    @include flex();
                    gap: 1rem;
                    padding: 1rem 0;
                    input{
                        @include input();
                        font-family: "Jua", sans-serif;
                    }
                    button{
                        @include button();
                        font-family: "Jua", sans-serif;
                    }
                }
            }
            .select{
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include flex();
                .whole-wrap{
                    box-sizing: border-box;
                    z-index: 3;
                    width: 25%;
                    height: 30%;
                    background-color: #333;
                    @include flex();
                    flex-direction: column;
                    border-radius: 20px;
                    gap: 1.5rem;
                    h2{
                        box-sizing: border-box;
                        word-break: keep-all;
                        text-align: center;
                        padding: 1rem;
                        padding-bottom: 0;
                        width: 100%;
                        font-size: clamp(1rem,2vw,2rem);
                    }
                    .btn-wrap{
                        position: relative;
                        width: 100%;
                        box-sizing: border-box;
                        @include flex();
                        gap: 1rem;
                        button{
                            @include button();
                            font-family: "Jua", sans-serif;
                            font-size: clamp(0.3rem,1vw,1.2rem);
                            &:hover{
                                background-color: #666;
                                color: #eee;
                            }
                        }
                    }
                }
            }
            .todo-list{
                width: 100%;
                height: 400px;
                @include flex();
                gap: 3rem;
                ul{
                    box-sizing: border-box;
                    background-color: rgba(0,0,0,0.2);
                    width: 30%;
                    height: 100%;
                    @include flex(flex-start,flex-start);
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 1rem 2rem;
                    border-radius: 20px;
                    h2{
                        width: 100%;
                        text-align: center;
                    }
                    p{
                        font-size: 2rem;
                        text-align: center;
                        width: 100%;
                        padding-top: 3rem;
                    }
                    li{
                        width: 100%;
                        font-weight: normal;
                        font-size: 1.5rem;
                        @include flex(space-between,center);
                        gap: 1rem;
                        .check{
                            @include flex();
                            gap: 1rem;
                            input{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        button{
                            @include button();
                            font-family: "Jua", sans-serif;
                            font-size: 1rem;
                            padding: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}

//red-theme 영역
.red-bg{
    font-family: "Song Myung", serif;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    .page{
        .loginForm{
            @include flex();
            flex-direction: column;
            width: 100%;
            h2{
                font-size: 2rem;
                font-weight: normal;
                text-align: center;
                @include textShadow();
                text-shadow: 0 0 10px rgba(255,255,255,0.5);
            }
            .input-button{
                padding: 1rem 0;
                @include flex();
                gap: 1rem;
                input{
                    @include input();
                    box-shadow: 0 0 10px rgba(255,255,255,0.8);
                    background-color: #fff;
                    font-family: "Song Myung", serif;
                }
                button{
                    @include button();
                    box-shadow: 0 0 10px rgba(255,255,255,0.8);
                    font-family: "Song Myung", serif;
                }
            }
        }
    }
    div{
        .main-page{
            width: 100%;
            @include flex();
            flex-direction: column;
            gap: 1rem;
            padding: 2rem 0;
            padding-top: 0;
            .id-button{
                @include flex();
                gap: 1.5rem;
                h2{
                    @include textShadow();
                    text-shadow: 0 0 10px rgba(255,255,255,0.5);
                    font-size: clamp(2rem,5vw,3rem);
                }
                button{
                    @include button();
                    box-shadow: 0 0 10px rgba(255,255,255,0.5);
                    font-family: "Song Myung", serif;
                }
            }
            .quote{
                font-size: 1.5rem;
                word-break: keep-all;
                @include textShadow();
                background-color: rgba(196, 82, 82, 0.5);
                text-shadow: 0 0 10px rgba(0,0,0,0.5);
                border-radius: 10px;
                padding: 0.5rem;
            }
            .todo{
                form{
                    @include flex();
                    gap: 1rem;
                    padding: 1rem 0;
                    input{
                        @include input();
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(255,255,255,0.5);
                        font-family: "Song Myung", serif;
                    }
                    button{
                        @include button();
                        box-shadow: 0 0 10px rgba(255,255,255,0.5);
                        font-family: "Song Myung", serif;
                    }
                }
            }
            .todo-list{
                width: 100%;
                height: 400px;
                @include flex();
                gap: 3rem;
                ul{
                    box-sizing: border-box;
                    background-color: rgba(196, 82, 82, 0.5);
                    width: 30%;
                    height: 100%;
                    @include flex(flex-start,flex-start);
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 1rem 2rem;
                    border-radius: 20px;
                    h2{
                        width: 100%;
                        text-align: center;
                    }
                    p{
                        font-size: 2rem;
                        text-align: center;
                        width: 100%;
                        padding-top: 3rem;
                    }
                    li{
                        width: 100%;
                        font-weight: normal;
                        font-size: 1.5rem;
                        @include flex(space-between,center);
                        gap: 1rem;
                        .check{
                            @include flex();
                            gap: 1rem;
                            input{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        button{
                            @include button();
                            font-family: "Song Myung", serif;
                            font-size: 1rem;
                            padding: 0.2rem;
                        }
                    }
                }
            }
            .select{
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include flex();
                .whole-wrap{
                    box-sizing: border-box;
                    z-index: 3;
                    width: 25%;
                    height: 30%;
                    background-color: #333;
                    @include flex();
                    flex-direction: column;
                    border-radius: 20px;
                    gap: 1.5rem;
                    h2{
                        box-sizing: border-box;
                        word-break: keep-all;
                        text-align: center;
                        padding: 1rem;
                        padding-bottom: 0;
                        width: 100%;
                        font-size: clamp(1rem,2vw,2rem);
                    }
                    .btn-wrap{
                        position: relative;
                        width: 100%;
                        box-sizing: border-box;
                        @include flex();
                        gap: 1rem;
                        button{
                            @include button();
                            font-family: "Song Myung", serif;
                            font-size: clamp(0.3rem,1vw,1.2rem);
                            &:hover{
                                background-color: #666;
                                color: #eee;
                            }
                        }
                    }
                }
            }
        }
    }
}